@import '../../assets/scss/libs/skel';

$animation-duration: 4s;

.svgContainer {
  @include vendor('animation', 'darken 0.5s ease-in forwards #{$animation-duration - 1.2s}');
}

.drawSVGPath {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  @include vendor('animation', 'draw #{$animation-duration} ease-in-out forwards');
}

@include keyframes('darken') {
  0% {
    background-image: radial-gradient(
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 80%
    );
  }
  15% {
    background-image: radial-gradient(
    rgba(0, 0, 0, 0.05) 25%,
    rgba(0, 0, 0, 0) 80%
    );
  }
  30% {
    background-image: radial-gradient(
    rgba(0, 0, 0, 0.1) 25%,
    rgba(0, 0, 0, 0) 80%
    );
  }
  45% {
    background-image: radial-gradient(
    rgba(0, 0, 0, 0.15) 25%,
    rgba(0, 0, 0, 0) 80%
    );
  }
  60% {
    background-image: radial-gradient(
    rgba(0, 0, 0, 0.2) 25%,
    rgba(0, 0, 0, 0) 80%
    );
  }
  75% {
    background-image: radial-gradient(
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 80%
    );
  }
  90% {
    background-image: radial-gradient(
    rgba(0, 0, 0, 0.3) 25%,
    rgba(0, 0, 0, 0) 80%
    );
  }
  100% {
    background-image: radial-gradient(
    rgba(0, 0, 0, 0.35) 25%,
    rgba(0, 0, 0, 0) 80%
    );
  }
}

@include keyframes('draw') {
  to {
    stroke-dashoffset: 0;
  }
}
