.userOption {
  cursor: pointer;
  opacity: 0.5;
  padding: 0.2rem 1rem;

  &:hover {
    opacity: 1;
  }
  &.active {
    border: 1px solid white;
    border-radius: 3px;
    opacity: 1;
  }
}

.honeypotField {
  display: none;
}
