@import '../../assets/scss/libs/skel';
@import '../../assets/scss/libs/mixins';
@import '../../assets/scss/libs/functions';
@import '../../assets/scss/libs/vars';

.article {
  @include vendor('transform', 'translateY(0.25rem)');
  @include vendor('transition', (
    'opacity #{_duration(article)} ease-in-out',
    'transform #{_duration(article)} ease-in-out'
  ));
  @include padding(1rem, 1rem, (0, 0, 2rem, 0));
  position: relative;
  width: 40rem;
  max-width: 100%;
  background-color: transparentize(_palette(bg), 0.15);
  border-radius: _size(border-radius);
  opacity: 0;

  .content {
    @include padding(1rem, 1rem);
  }

  &.timeout {
    display: none;
  }

  &.active.timeout {
    @include vendor('transform', 'translateY(0)');
    opacity: 1;
  }

  &.active {
    display: block !important;
  }
}

@include breakpoint(small) {
  .article {
    @include padding(1rem, 1rem, (0, 0, 1.5rem, 0));
  }
}

@include breakpoint(xsmall) {
  .article {
    @include padding(1rem, 1rem, (0, 0, 1rem, 0));
  }
}


.titleBar {
  $button-size: 12px;

  @include vendor('display', 'flex');
  @include vendor('justify-content', 'space-between');
  @include vendor('align-items', 'center');
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;

  .buttons span {
    @include vendor('transition', 'opacity .2s ease-in-out');
    margin-right: 0.5rem;
    line-height: 0;
    font-size: 12px;
    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
  }

  .buttons {
    &:hover {
      .close:after {
        opacity: 1;
      }
      .mini {
        opacity: 0.3;
      }
      .max {
        opacity: 0.3;
      }
    }
  }

  .close {
    position: relative;
    padding: 4px 0;
    &:after {
      @include vendor('transition', 'opacity .2s ease-in-out');
      position: absolute;
      top: 4px;
      left: 2px;
      opacity: 0;
      content: 'x';
      z-index: 5;
    }
    text-align: center;
    cursor: pointer;
    color: #6A1814;
    background: #EF6A5E;
    border: 1px solid #E15F53;
  }

  .mini {
    background: rgba(253, 188, 64, 1);
    border: 1px solid #E8B24A;
  }

  .max {
    background: rgba(52, 204, 74, 1);
    border: 1px solid #5BB94C;
  }

  .title {
    opacity: 0.2;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: _font(letter-spacing-heading);
    font-weight: bold;
  }
}

.imgContainer {
  border-radius: 4px;
  overflow: hidden;
  height: 170px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
