.searchContainer {
  padding: 1rem 5rem;
  background: #2e333e;
  border-radius: 10px 10px 0 0;
}

.search {
  padding-bottom: 2rem;
}

.results {
  padding-bottom: 2rem;
}

.searchLink {
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 3px;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  &:hover {
    border: 1px solid white;
    opacity: 0.5;
  }
}
