.spinner {
  width: 100%;
  height: 100%;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #454b59;
}

.label {
  font-style: italic;
  font-size: 20px;
  padding: 10px;
}
