@import '../../assets/scss/libs/skel';
@import '../../assets/scss/libs/mixins';
@import '../../assets/scss/libs/functions';
@import '../../assets/scss/libs/vars';

.container {
  &:hover {
    .stickers {
      filter: contrast(150%);
    }
  }
}

.memoji, .stickers {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -2px;
  height: 150px;
  width: 125px;
  border-radius: 50%;
}

.stickers {
  transition: filter 0.2s ease-in-out;
  @include vendor('animation', 'fade-in 1.5s ease-in');
  filter: contrast(120%);
}

@include keyframes('fade-in') {
  0% {
    opacity: 0.3;
    filter: contrast(50%);
  }
  100% {
    opacity: 1;
    filter: contrast(120%);
  }
}
